<style>
    .bg-dark-full {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #000c;
    }
    .modal-container {
      width: 70%;
      max-height: 90%;
    }
</style>
<div
    *ngIf="showAddProductModal"
    class="bg-dark-full row justify-center items-center"
>
    <div class="bg-white rounded modal-container elevated">
        <div class="text-title pa-md ma-md text-grey">
            <strong>Nuevo producto</strong>
        </div>
        <div class="bordered"></div>
        <!-- <div class="pa-md ma-md text-grey">

        </div>-->
        <div class="bordered"></div>
        <div class="pa-md ma-md text-grey row justify-between">
            <!-- <button class="text-grey" (click)="showAddProductModal=false">Cerrar</button> -->
            <button
                class="text-white bg-primary pa-md rounded"
            >
                <strong>Crear</strong>
            </button>
        </div>
    </div>
</div> 

<!-- HEADER -->
<div class="column">
    <!-- SUMMARY -->
    <div class="row justify-between pa-sm mb-md items-center mx-sm">
        <div class="text-body column">
            <div class="text-caption text-primary">Productos</div>
        </div>
        <button
            class="mx-sm rounded pa-md bg-primary text-white elevated"
            (click)="showAddProductModal=true"
        >
            <strong>Nuevo producto</strong>
        </button>
    </div>
</div>
  
<div class="column mx-md px-xs mb-sm text-caption">
    <strong>
        {{products.length}} {{products.length === 1 ? 'producto' : 'productos'}}
    </strong>
</div>
  <!-- LIST -->
<div>
    <div *ngFor="let product of products" class="column pa-sm ma-sm rounded bordered">
        <div class="row items-center justify-between">
            <div class="row items-center">
                <div
                    class="py-sm px-md bg-primary text-white rounded mr-md full-height"
                >
                    {{product.id}}
                </div>
                <div class="column pa-sm">
                    <div class="pb-sm text-grey">
                        <strong>{{product.nombre}}</strong>
                    </div>
                    <div class="text-grey text-caption">
                        {{product.precio}} Gs.
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="text-caption text-grey">Unidades restantes</div>
                <div class="text-caption text-grey">{{product.existencia}}</div>
            </div>
            <div class="column pa-sm items-end">
                <div class="text-caption mr-sm">
                    {{product.nombre}}
                </div>
                <div>
                    <button
                    class="text-caption underline text-primary pa-none"
                    >
                    Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>